BRB_Documentation/tags/03_18_2014_BRB_Redesign/BRBMiddlewareBroker/WebContent/WEB-INF/wsdl/esocketTransact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ctfs.com/esocketTransactIo/" xmlns:wi="http://www.w3.org/2005/05/wsdl-instance" elementFormDefault="qualified" targetNamespace="http://ctfs.com/esocketTransactIo/">

   <xs:element name="transactRequest" type="ESocketTransactInput">
   </xs:element>
   <xs:element name="transactResponse" type="ESocketTransactOutput">
   </xs:element>
   <xs:element name="PGCError">
     	<xs:complexType>
     		<xs:sequence>
     			<xs:element name="ErrorCode" type="ErrorCodeType">
     			</xs:element>

     			<xs:element name="ErrorMessage" type="ErrorMessageType">
     			</xs:element>

     			<xs:element name="ErrorDetectedBy" type="ErrorLocationType">
     			</xs:element>
     		</xs:sequence>
     	</xs:complexType>
   </xs:element>

   <xs:complexType name="ESocketTransactObject">
   	  <xs:sequence>
   	  		<xs:element maxOccurs="1" minOccurs="1" name="id" nillable="false">
   	  			<xs:simpleType>
   	  				<xs:restriction base="xs:string"/>
   	  			</xs:simpleType>
   	  		</xs:element>
   	  		<xs:element maxOccurs="1" minOccurs="0" name="customData" type="CustomDataMap">
   	  		</xs:element>
   	  </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ESocketTransactInput">
   	  <xs:complexContent>
   	  		<xs:extension base="ESocketTransactObject">
		      <xs:sequence>
			        <xs:element maxOccurs="1" minOccurs="1" name="transaction" nillable="false" type="PCICompliantTransactionRequest">
		    	    </xs:element>
		
			        <xs:element maxOccurs="1" minOccurs="0" name="tokenRequired" nillable="false">
			        	<xs:annotation>
			        		<xs:documentation>
			        			This field will indicate whether the client application requires that a token
			        			should be returned on the response that can be stored for future transactions
			        			(eg. for refunds, recurring payments, etc.)
			        			N = no token is required
			        		</xs:documentation>
			        	</xs:annotation>
			        	<xs:simpleType>
			        		<xs:restriction base="xs:string">
			        			<xs:enumeration value="Y">
									<xs:annotation>
										<xs:documentation>
						        			Y = token should be returned							
										</xs:documentation>
									</xs:annotation>			        			
			        			</xs:enumeration>
			        			<xs:enumeration value="R">
									<xs:annotation>
										<xs:documentation>
						        			R = Reference number should be returned in place of a token							
										</xs:documentation>
									</xs:annotation>			        			
			        			</xs:enumeration>
			        			<xs:enumeration value="N">
									<xs:annotation>
										<xs:documentation>
						        			N = no token is required							
										</xs:documentation>
									</xs:annotation>			        			
			        			</xs:enumeration>
			        		</xs:restriction>
			        	</xs:simpleType>
		    	    </xs:element>

					<xs:element maxOccurs="1" minOccurs="0" name="agentId">
						<xs:annotation>
							<xs:documentation>
								This value is used to indicate the unique
								identifier of the agent that is authenticated to
								the Payment Gateway client. Used in legacy 
								implementations of the Payment Gateway.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="agentIPAddress">
						<xs:annotation>
							<xs:documentation>
								This value is used to indicate the IP Address of
								the agent's System that is fulfilling the
								transaction request.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="clientIPAddress">
						<xs:annotation>
							<xs:documentation>							
								This value is used to indicate the IP Address of
								the Payment Gateway Client that is handling the request.
								User internally by the Payment Gateway application -
								should not be populated by any client.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="hostSystem">
						<xs:annotation>
							<xs:documentation>
								A required attribute, this will let the PGC know the identity
								of the host system that is sending this transact request.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="hostSystemOperator">
						<xs:annotation>
							<xs:documentation>
								This value is used to indicate the user ID
								of the agent that is fulfilling the
								transaction request.
								If unknown or not applicable, the value 'SYSTEM'
								should be used. 
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
		      </xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ESocketTransactOutput">
   	  <xs:complexContent>
   	  		<xs:extension base="ESocketTransactObject">
		      <xs:sequence>
			         <xs:element maxOccurs="1" minOccurs="1" name="transaction" nillable="false" type="PCICompliantTransactionResponse">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Required field. Should always be present, except in the case
			         			of a general application exception.
			         		</xs:documentation>
			         	</xs:annotation>
		    	     </xs:element>
		
		    		<xs:element maxOccurs="1" minOccurs="1" name="passFail" type="TypeOfPassFail">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Required field. Should always be present.
			         		</xs:documentation>
			         	</xs:annotation>
		    		</xs:element>
		    		<xs:element maxOccurs="unbounded" minOccurs="1" name="responseCodes" type="xs:integer">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Required field. Should always be present.
			         		</xs:documentation>
			         	</xs:annotation>    			
		    		</xs:element>
		      </xs:sequence>
		    </xs:extension>
	  </xs:complexContent>      
   </xs:complexType>

   <xs:complexType name="TransactionRequest">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="messageType" nillable="false" type="MessageTypeRequest">
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="1" name="messageFields" nillable="false" type="MessageFieldsRequest">
         </xs:element>
      </xs:sequence>   	  		
   </xs:complexType>

   <xs:complexType name="PCICompliantTransactionRequest">
   	  <xs:complexContent>
   	  		<xs:extension base="TransactionRequest">
   	  			<xs:sequence>
   	  				<xs:element maxOccurs="1" minOccurs="0" name="pciMessageFields" type="PCICompliantMessageFieldsRequest">  	  				
   	  				</xs:element>
   	  			</xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="TransactionResponse">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="messageType" nillable="false" type="MessageTypeResponse">
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="1" name="messageFields" nillable="false" type="MessageFieldsResponse">
         </xs:element>
      </xs:sequence>   	  		
   </xs:complexType>

   <xs:complexType name="PCICompliantTransactionResponse">
   	  <xs:complexContent>
   	  		<xs:extension base="TransactionResponse">
   	  			<xs:sequence>
   	  				<xs:element maxOccurs="1" minOccurs="0" name="pciMessageFields" type="PCICompliantMessageFieldsResponse">
   	  				</xs:element>
   	  			</xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:simpleType name="MessageTypeRequest">
		<xs:annotation>
			<xs:documentation>
			This attribute defines the Iso8583 Message type on a transaction request.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:enumeration value="0100">
				<xs:annotation>
					<xs:documentation>
						0100 Message: Authorization/Balance Inquiry Request
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0120">
				<xs:annotation>
					<xs:documentation>
						0120 Message: Authorization Advice
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0121">
				<xs:annotation>
					<xs:documentation>
						0121 Message: Authorization Advice Repeat
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0200">
				<xs:annotation>
					<xs:documentation>
						0200 Message: Transaction Request
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0220">
				<xs:annotation>
					<xs:documentation>
						0220 Message: Transaction Advice
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0221">
				<xs:annotation>
					<xs:documentation>
						0221 Message: Transaction Advice Repeat
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0420">
				<xs:annotation>
					<xs:documentation>
						0420 Message: Reversal Advice
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0421">
				<xs:annotation>
					<xs:documentation>
						0421 Message: Reversal Advice Repeat
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0600">
				<xs:annotation>
					<xs:documentation>
						0600 Message: Administrative Request
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0620">
				<xs:annotation>
					<xs:documentation>
						0620 Message: Administrative Advice
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0621">
				<xs:annotation>
					<xs:documentation>
						0621 Message: Administrative Advice Repeat
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0800">
				<xs:annotation>
					<xs:documentation>
						0800 Message: Network Management Request
						NOTE: Unsupported on current eSocket.web version. 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="MessageTypeResponse">
		<xs:annotation>
			<xs:documentation>
			This attribute defines the Iso8583 Message type on a transaction request.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:enumeration value="0110">
				<xs:annotation>
					<xs:documentation>
						0110 Message: Authorization/Balance Inquiry Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0130">
				<xs:annotation>
					<xs:documentation>
						0110 Message: Authorization Advice Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0210">
				<xs:annotation>
					<xs:documentation>
						0210 Message: Transaction Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0230">
				<xs:annotation>
					<xs:documentation>
						0230 Message: Transaction Advice Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0430">
				<xs:annotation>
					<xs:documentation>
						0430 Message: Reversal Advice Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0610">
				<xs:annotation>
					<xs:documentation>
						0610 Message: Administrative Response
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0630">
				<xs:annotation>
					<xs:documentation>
						0630 Message: Administrative Advice Response 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0810">
				<xs:annotation>
					<xs:documentation>
						0810 Message: Network Management Request
						NOTE: Unsupported on current eSocket.web version. 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
   </xs:simpleType>

<!-- 
	Data Element Format
	
	a		Alphabetic characters, A through Z and a through z
	n		Numeric digits, 0 through 9
	p		Pad character, space
	s		Special characters, i.e. other printable characters
	an		Alphabetic and numeric characters
	as		Alphabetic and special characters
	ns		Numeric and special characters
	anp		Alphabetic, numeric and pad characters
	ans		Alphabetic, numeric and special characters
	YY		Year, 00 through 99
	CCYY	Year, 0001 through 9999
	MM		Month, 01 through 12
	DD		Day, 01 through 31
	hh		Hour, 00 through 23
	mm		Minute, 00 through 59
	ss		Second, 00 through 59
	LL		Length of variable data element that follows, 01 through 99
	LLL		Length of variable data element that follows, 001 through 999
	LLLLL	Length of variable data element that follows, 00001 through 99999
	LLLLLL	Length of variable data element that follows, 000001 through 999999
	VAR		Variable length data element
	3		Fixed length of 3 characters
	..17	Variable length up to 17 characters, containing an additional 2 or 3 characters at the start of the data indicating the number of characters following to the end of the field
	x		C for credit, D for debit, always associated with a numeric amount field, i.e. x+n16 means a prefix of C or D followed by 16 numeric characters
	b		Binary representation of data
	z 		Track 2 as defined in ISO 7813
 -->

   <xs:complexType name="MessageFields">
   	  <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="token">
         	<xs:annotation>
         		<xs:documentation>
         			Alternate to Field 2: Token
         			n19, LLVAR
         			The token and PAN fields should be mutually exclusive.
         			The client should have the ability to pass either a PAN
         			or a token (depending on whether they are PCI compliant)
         			
         			If a PAN is present, the PG server will transact with
         			Postilion using the PAN. On the response it will mask the PAN
         			(replace all digits except first 6 and last 4 with a masking
         			character) and provide a token in case the client system
         			wishes to store it for future transacting.
         			
         			If a token is present, the PG Server will detokenize the
         			token into a PAN and then transact with Postilion. On the
         			response a masked PAN will be provided along with the token
         			that was provided on the request.
         			
         			If both fields are present on a request, an error will
         			be generated.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,19}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="processingCode" type="ProcessingCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 3: Processing Code - Required field.
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionAmount">
         	<xs:annotation>
         		<xs:documentation>
         			Field 4: Transaction Amount
         			n12, padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,12}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementAmount">
         	<xs:annotation>
         		<xs:documentation>
         			Field 5: Settlement Amount
         			n12, padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,12}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="conversionRate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 9: Conversion Rate
         			n8 - fixed
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="localTransactionTime">
         	<xs:annotation>
         		<xs:documentation>
         			Field 12: Time, Local Transaction
         			n6 - format hhmmss
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{6}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="localTransactionDate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 13: Date, Local Transaction
         			n4 - format MMDD
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="expiryDate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 14: Date, Expiration
         			n4 - format YYMM
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementDate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 15: Date, Settlement
         			n4 - format MMDD
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="conversionDate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 16: Date, Conversion
         			n4 - format MMDD
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="merchantType">
         	<xs:annotation>
         		<xs:documentation>
         			Field 18: Merchant Type
         			n4 - fixed
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServiceEntryMode" type="PointOfServiceEntryMode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 22: Point of Service Entry Mode
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardSequenceNumber">
         	<xs:annotation>
         		<xs:documentation>
         			Field 23: Card Sequence Number
         			n3 - fixed
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServiceConditionCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 25: Point of Service Condition Code
         			n2 - fixed
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionFee">
         	<xs:annotation>
         		<xs:documentation>
         			Field 28: Amount, Transaction Fee
         			x+n8 - padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementFee">
         	<xs:annotation>
         		<xs:documentation>
         			Field 29: Amount, Settlement Fee
         			x+n8 - padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionProcessingFee">
         	<xs:annotation>
         		<xs:documentation>
         			Field 30: Amount, Transaction Processing Fee
         			x+n8 - padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementProcessingFee">
         	<xs:annotation>
         		<xs:documentation>
         			Field 31: Amount, Settlement Processing Fee
         			x+n8 - padded by eSocket.web
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="acquiringInstitutionIdCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 32: Acquiring Institution ID Code
         			n11, LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,11}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="forwardingInstitutionIdCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 33: Forwarding Institution ID Code
         			n11, LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,11}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="retrievalReferenceNumber">
         	<xs:annotation>
         		<xs:documentation>
         			Field 37: Retrieval Reference Number
         			anp12
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[a-zA-Z0-9]{1,12} {0,11}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="authorizationIdResponse">
         	<xs:annotation>
         		<xs:documentation>
         			Field 38: Authorization ID Response
         			anp6
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[a-zA-Z0-9]{1,6} {0,5}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="responseCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 39: Response Code
         			an2
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[a-zA-Z0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="serviceRestrictionCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 40: Service Restriction Code
         			n3
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardAcceptorTerminalId">
         	<xs:annotation>
         		<xs:documentation>
         			Field 41: Card Acceptor Terminal ID
         			ans8 
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardAcceptorIdCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 42: Card Acceptor ID Code
         			Required field. Merchant number, 5 digits right-justified and zero-padded. 
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardAcceptorLocationName" type="CardAcceptorLocationName">
         	<xs:annotation>
         		<xs:documentation>
         			Field 43: Card Acceptor Name Location
         			ans40 
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionCurrencyCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 49: Currency Code, Transaction
         			n3
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementCurrencyCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 50: Currency Code, Settlement
         			n3
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="additionalAmountsList" type="AdditionalAmountsList">
         	<xs:annotation>
         		<xs:documentation>
         			Field 54: Additional Amounts List
         			an120,LLLVAR
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="messageReasonCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 56: Message Reason Code
         			n4,LLLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="extendedPaymentCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 67: Extended Payment Code
         			n2         			
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="fileUpdateCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 91: File Update Code
         			an1         			
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9a-zA-Z]{1}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="replacementAmounts" type="ReplacementAmounts">
         	<xs:annotation>
         		<xs:documentation>
         			Field 95: Replacement Amounts
         			an42
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="payee">
         	<xs:annotation>
         		<xs:documentation>
         			Field 98: Payee
         			ans25
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="receivingInstitutionIdCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 100: Receiving Institution ID Code
         			n11,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,11}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="fileName">
         	<xs:annotation>
         		<xs:documentation>
         			Field 101: File Name
         			ans17,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="17"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="accountIdentification1">
         	<xs:annotation>
         		<xs:documentation>
         			Field 102: Account Identification 1
         			ans28,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="28"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="accountIdentification2">
         	<xs:annotation>
         		<xs:documentation>
         			Field 103: Account Identification 2
         			ans28,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="28"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServiceDataCode" type="PointOfServiceDataCode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 123: POS Data Code
         			an15,LLVAR
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="switchKey">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.002: Switch Key
         			ans32,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="32"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServiceData" type="PointOfServiceData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.004: POS Data
         			ans22
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="authorizationProfile" type="AuthorizationProfile">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.006: Authorization Profile
         			an2
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="checkData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.007: Check Data
         			ans70,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="70"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="retentionData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.008: Retention Data
         			ans999,LLLVAR
         			REQUEST FIELD ONLY - not present on response from Postilion.
         			This field will be populated by the Payment Gateway however
         			to indicate which Postilion host the original request was
         			sent to.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="999"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="additionalNodeData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.009: Additional Node Data
         			ans255,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalOwner">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.012: Terminal Owner
         			ans25,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServiceGeographicData" type="PointOfServiceGeographicData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.013: POS Geographic Data
         			ans17
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="sponsorBank">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.014: Sponsor Bank
         			ans8
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="addressVerificationData" type="AddressVerificationData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.015: Address Verification Data
         			ans29,LLVAR
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="addressVerificationResult">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.016: Address Verification Result
         			a1
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[A-Z]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="bankDetails" type="BankDetails">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.019: Bank details
         			ans31
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="originatorAuthorizerSettlementDate">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.020: Originator/Authorizer date settlement
         			n8,CCYYMMDD
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="structuredData" type="StructuredData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.022: Structured data
         			ans99999,LLLLLVAR
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="payeeNameAddress" type="PayeeNameAddress">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.023: Payee name and address
         			ans253
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="payerAccountId">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.024: Payer account identification
         			ans28,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="28"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="originalNode">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.026: Original Node
         			ans20,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardVerificationResult">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.027: Card Verification Result
         			ans1
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="secure3DResult">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.030: 3D-Secure Result
         			ans1
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="ucafData" type="UcafData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.032: UCAF Data
         			b33,LLVAR
         		</xs:documentation>
         	</xs:annotation>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="extendedTransactionType">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.033: Extended Transaction Type
         			n4
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
   	  </xs:sequence>
   </xs:complexType>

   <xs:complexType name="MessageFieldsRequest">
   	  <xs:complexContent>
   	  		<xs:extension base="MessageFields">
			      <xs:sequence>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="pointOfServicePinCaptureCode">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 26: POS PIN Capture Code
			         			n2 - fixed
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:pattern value="[0-9]{3}"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="authorizationIdResponseLength">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 27: Authorization ID Response Length
			         			n1
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:pattern value="[0-9]{1}"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="additionalResponseData" type="AdditionalResponseData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 44: Additional Response Data
			         			ans25,LLVAR 
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="securityRelatedControlInformation" type="SecurityRelatedControlInformation">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 53: Security Related Control Information
			         			b48
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="authorizationLifeCycleCode">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 57: Authorization Life-cycle Code
			         			n3,LLLVAR
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:pattern value="[0-9]{1,3}"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="originalSwitchKey">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.011: Original Switch Key
			         			ans32,LLVAR
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:minLength value="1"/>
			               		<xs:maxLength value="32"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="validationData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.018: Validation data
			         			ans50,LLVAR
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="icc" type="IccRequest">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.025: Integrated Circuit Card (ICC) Data
			         			ans9999,LLLLVAR
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>

			         <xs:element maxOccurs="1" minOccurs="0" name="secure3DData" type="Secure3DData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.029: 3D-Secure Data
			         			b40
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="accountTypeQualifiers" type="AccountTypeQualifiers">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.034: Account Type Qualifiers
			         			n2
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="acquirerNetworkId">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.035: Acquirer Network ID
			         			ans11,LLVAR
			         			REQUEST FIELD ONLY - not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:minLength value="1"/>
			               		<xs:maxLength value="11"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			      </xs:sequence>   	  		
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="MessageFieldsResponse">	
   	  <xs:complexContent>
   	  		<xs:extension base="MessageFields">
			      <xs:sequence>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="pan">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 2: Primary Account Number
			         			n19, LLVAR
			         			
			         			The PAN on a response from the Payment Gateway will always be
			         			a truncated PAN. Payment Gateway will never return a full 
			         			clear-text PAN.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:pattern value="[0-9]{1,19}"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="additionalResponseData" type="AdditionalResponseDataResponse">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 44: Additional Response Data
			         			ans25,LLVAR 
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="authorizingAgentInstitution">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 58: Authorizing Agent Institution
			         			n11,LLLVAR
			         			RESPONSE FIELD ONLY - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:pattern value="[0-9]{1,11}"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="routingInformation" type="RoutingInformation">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.003: Routing Information
			         			ans48
			         			RESPONSE FIELD ONLY - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="serviceStationData" type="ServiceStationData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.005: Service Station Data
			         			ans73
			         			RESPONSE FIELD ONLY - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="cardholderInformation">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.017: Cardholder Information
			         			ans50,LLVAR
			         			RESPONSE FIELD ONLY - not valid for request
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:minLength value="1"/>
			               		<xs:maxLength value="50"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="icc" type="IccResponse">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.025: Integrated Circuit Card (ICC) Data
			         			ans9999,LLLLVAR
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>

			         <xs:element maxOccurs="1" minOccurs="0" name="issuerNetworkId">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Field 127.031: Issuer Network ID
			         			ans11,LLVAR
			         			RESPONSE FIELD ONLY - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               		<xs:minLength value="1"/>
			               		<xs:maxLength value="11"/>
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			      </xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PCICompliantMessageFieldsRequest">
   	  <xs:annotation>
   	  	<xs:documentation>
   	  		PCI-DSS section 3 identifies the following fields containing cardholder data as sensitive.
   	  		
   	  		As such, they are only exposed to the ESocketTransact service for PCI-compliant clients
   	  		and should only be populated by applications that are PCI-certified.
   	  		
   	  		Field 2: PAN
   	  		Field 35: Track 2 Data
   	  		Field 45: Track 1 Data
   	  		Field 52: PIN block
   	  		Field 127.010: CVV2
   	  		Field 127.028: American Express Card Identifier (CID)
   	  	</xs:documentation>
   	  </xs:annotation>
      <xs:sequence>

         <xs:element maxOccurs="1" minOccurs="0" name="pan">
         	<xs:annotation>
         		<xs:documentation>
         			Field 2: Primary Account Number
         			n19, LLVAR
         			The token and PAN fields should be mutually exclusive.
         			The client should have the ability to pass either a PAN
         			or a token (depending on whether they are PCI compliant)
         			
         			If a PAN is present, the PG server will transact with
         			Postilion using the PAN. On the response it will mask the PAN
         			(replace all digits except first 6 and last 4 with a masking
         			character) 
         			
         			If a token is present, the PG Server will detokenize the
         			token into a PAN and then transact with Postilion. On the
         			response a masked PAN will be provided along with the token
         			that was provided on the request.
         			
         			If both fields are present on a request, an error will
         			be generated.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{1,19}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="track2Data">
         	<xs:annotation>
         		<xs:documentation>
         			Field 35: Track 2 Data
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:maxLength value="37"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="track1Data">
         	<xs:annotation>
         		<xs:documentation>
         			Field 45: Track 1 Data
         			ans76,LLVAR 
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:maxLength value="76"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pinData">
         	<xs:annotation>
         		<xs:documentation>
         			Field 52: PIN Data
         			b8
         			REQUEST FIELD ONLY - not present on response.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cvv2">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.010: CVV2
         			n3
         			REQUEST FIELD ONLY - not present on response.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="americanExpressCardId">
         	<xs:annotation>
         		<xs:documentation>
         			Field 127.028: American Express Card Identifier (CID)
         			n4
         			REQUEST FIELD ONLY - not present on response.
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{4}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>   	  		
   </xs:complexType>

   <xs:complexType name="PCICompliantMessageFieldsResponse">	
   	  <xs:annotation>
   	  	<xs:documentation>
   	  		PCI-DSS section 3 identifies the following fields containing cardholder data as sensitive.
   	  		
   	  		As such, they are only exposed to the ESocketTransact service for PCI-compliant clients
   	  		and should only be populated by applications that are PCI-certified.

			*NOTE: PAN is not included here. The PAN field is included on the response for both
			PCI-compliant and non-PCI-compliant clients, but will contain a truncated version of
			the PAN in both cases - it will never be a full PAN.			
   	  		
   	  		Field 35: Track 2 Data
   	  		Field 45: Track 1 Data
   	  	</xs:documentation>
   	  </xs:annotation>
      <xs:sequence>

         <xs:element maxOccurs="1" minOccurs="0" name="track2Data">
         	<xs:annotation>
         		<xs:documentation>
         			Field 35: Track 2 Data
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:maxLength value="37"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="track1Data">
         	<xs:annotation>
         		<xs:documentation>
         			Field 45: Track 1 Data
         			ans76,LLVAR 
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:maxLength value="76"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="CardAcceptorLocationName">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="city">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="13"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="country">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="state">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="street">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="23"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="visaLoadAcquirerBin">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="visaLoadRequestSignature">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Icc">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="amountAuthorized">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="amountOther">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="applicationIdentifier">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="applicationInterchangeProfile">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="applicationTransactionCounter">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="applicationUsageControl">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="authorizationResponseCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardAuthenticationReliabilityIndicator">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cardAuthenticationResultsCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="chipConditionCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cryptogram">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cryptogramInformationData">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cvmResults">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="interfaceDeviceSerialNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="issuerActionCode" type="IssuerActionCode">
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="issuerApplicationData">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="issuerAuthenticationData">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalApplicationVersionNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalCapabilities">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalCountryCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalVerificationResult">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionCategoryCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionCurrencyCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionDate">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionSequenceCounter">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="unpredictableNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="IccRequest">
   	  <xs:complexContent>
   	  		<xs:extension base="Icc">
   	  			<xs:sequence>
			         <xs:element maxOccurs="1" minOccurs="0" name="issuerScriptResults">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Issuer Script Results - Request field only, not present on response.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
				</xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="IccResponse">
      <xs:complexContent>
      		<xs:extension base="Icc">
      			<xs:sequence>
			         <xs:element maxOccurs="1" minOccurs="0" name="issuerScriptTemplate1">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Response field only - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="issuerScriptTemplate2">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Response field only - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>
			
			         <xs:element maxOccurs="1" minOccurs="0" name="postilionIccResponseData" type="PostilionIccResponseData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Response field only - not valid for request.
			         		</xs:documentation>
			         	</xs:annotation>
			         </xs:element>      			
      			</xs:sequence>
      		</xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="AddressVerificationData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="cardholderAddress">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="postalCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:minLength value="1"/>
               		<xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AdditionalResponseData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="pinOffset">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="visaCashLoadSignature">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="16"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AdditionalResponseDataResponse">
   	  <xs:complexContent>
   	  		<xs:extension base="AdditionalResponseData">
			      <xs:sequence>
			         <xs:element maxOccurs="1" minOccurs="0" name="supplementalData">
			         	<xs:annotation>
			         		<xs:documentation>
			         			Response field only - not valid for requests.
			         		</xs:documentation>
			         	</xs:annotation>
			            <xs:simpleType>
			               <xs:restriction base="xs:string">
			               </xs:restriction>
			            </xs:simpleType>
			         </xs:element>			
			      </xs:sequence>
   	  		</xs:extension>
   	  </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="BankDetails">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="bankId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="branchId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="22"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PointOfServiceDataCode">
      <xs:sequence>
         <xs:element name="cardDataInputCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardholderAuthenticationCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardCaptureCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="operatingEnvironment">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardholderIsPresent">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardIsPresent">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardDataInputMode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardholderAuthenticationMethod">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardholderAuthenticationEntity">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="cardDataOutputCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="terminalOutputCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="pinCaptureCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="terminalOperator">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="terminalType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="UcafData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="authenticationData">
         	<xs:annotation>
         		<xs:documentation>
         			b32,LLVAR
         		</xs:documentation>
         	</xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="32"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="collectionIndicator">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AccountTypeQualifiers">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="fromAccountTypeQualifier">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="toAccountTypeQualifier">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ProcessingCode">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="fromAccountType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="toAccountType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="2"/>
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PayeeNameAddress">
   		<xs:annotation>
   			<xs:documentation>
   				All fields are left-justified, space-filled	to the right.
   			</xs:documentation>
   		</xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="addressLine1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="addressLine2">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="addressLine3">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="city">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="countryCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="name">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="phone">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="postalCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="region">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AuthorizationProfile">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="authorizationReason">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[a-zA-Z0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="authorizationType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[a-zA-Z0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PointOfServiceGeographicData">
   		<xs:annotation>
   			<xs:documentation>
   				All fields are left-justified, space-filled to the right.
   			</xs:documentation>
   		</xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="countryCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="countyCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="postalServiceCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="stateCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ReplacementAmounts">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="settlementAmount">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{1,12}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="settlementFee">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionAmount">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{1,12}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="transactionFee">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[CD][0-9]{1,8}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PointOfServiceData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="operatorId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="sequenceNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="terminalId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:length value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PointOfServiceEntryMode">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="panEntryMode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="pinEntryCapability">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:pattern value="[0-9]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="IssuerActionCode">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="default">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="denial">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="online">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="SecurityRelatedControlInformation">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="dukptKeySequenceNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="newPin">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="secureIndicator">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Secure3DData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="cAVV">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="xID">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               		<xs:length value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="StructuredData">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="StructuredDataEntry">         
      	 </xs:element>      
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AdditionalAmountsList">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="AdditionalAmountsListEntry">
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="StructuredDataEntry">
      <xs:sequence>
         <xs:element name="name">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="data">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AdditionalAmountsListEntry">
      <xs:sequence>
         <xs:element name="amountType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="accountType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{2}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="currencyCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z0-9]{3}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="amountSign">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[CD]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element name="amount">
            <xs:simpleType>
               <xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{12}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PostilionIccResponseData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="responseCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="cvrAuthenticationResults">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="tvrAuthenticationResults">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RoutingInformation">
   		<xs:annotation>
   			<xs:documentation>
   				This is a response-only field from Postilion. No client-side validation is necessary.
   			</xs:documentation>
   		</xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="sourceNode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="sinkNode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="sourceNodeSystemTraceAuditNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="sinkNodeSystemTraceAuditNumber">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="totalsGroup">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ServiceStationData">
   		<xs:annotation>
   			<xs:documentation>
   				This is a response-only field from Postilion. No client-side validation is necessary.
   			</xs:documentation>
   		</xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="vehicleUsage">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="odometerReading">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="productId1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="literage1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="amount1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="productId2">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="literage2">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="amount2">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="productId3">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="literage3">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

         <xs:element maxOccurs="1" minOccurs="0" name="amount3">
            <xs:simpleType>
               <xs:restriction base="xs:string">
               </xs:restriction>
            </xs:simpleType>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

	<xs:simpleType name="TypeOfPassFail">
		<xs:annotation>
			<xs:documentation>
			This attribute identifies the completion status of an API call.
			a value of "F" denotes the service encountering a failure condition. When this 
			situation occurs, the responseCds list will contain one or more reason codes identifying
			the nature of the failure. A value of "P" denotes a successful API call condition. 
			When this situation occurs, this value can be evaluated as a confirmation of success.
			Note: it is possible to receive a "P" value and have the responseCds 
			list contains a list of one or more elements. When this occurs, 
			the response codes should be treated as warnings rather than error conditions.  
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ErrorCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ErrorMessageType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ErrorLocationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Client"/>
			<xs:enumeration value="Webservice"/>
			<xs:enumeration value="Application"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CustomDataMap">
		<xs:annotation>
			<xs:documentation>
				CustomDataMap.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="MapEntry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MapEntry">
		<xs:sequence>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
