WICI2_Documentation/branches/Authfield_Branch/WICIMiddlewareBroker2/test/WEB-INF/wsdl/WebICGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="WebICGateway" targetNamespace="http://www.ctc.ctfs.channel.com/WebICGateway/" xmlns:ns="http://www.channel.ctfs.ctc.com/AccountAcquisition/" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ctc.ctfs.channel.com/WebICGateway/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ctc.ctfs.channel.com/WebICGateway/" xsi:schemaLocation="http://www.channel.ctfs.ctc.com/AccountAcquisition/AccountApplication.xsd">
			<xsd:element name="processRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestDocument" type="tns:BodyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="processRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseDocument" type="tns:ResponseBodyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="BodyType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ResponseBodyType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="requestStatus" type="tns:StatusType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="resultDocument" type="tns:BodyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="MessageHeader">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageHeader" type="tns:MessageHeaderType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ResponseBody">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ResponseBody" type="tns:ResponseBodyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RequestBody">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RequestBody" type="tns:BodyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="messageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageFault" type="tns:MessageFaultType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="ErrorCodeType">
				<xsd:restriction base="xsd:integer">
					<xsd:maxInclusive value="999999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ErrorMessageTextType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ErrorLocationType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Client"/>
					<xsd:enumeration value="Gateway"/>
					<xsd:enumeration value="ServicesPool"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="StatusType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Success"/>
					<xsd:enumeration value="Failure"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageFaultType">
				<xsd:annotation>
					<xsd:documentation>
						The type of the SOAP Fault that a SOAP Operation can throw.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="errorCode" type="tns:ErrorCodeType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="errorMessageText" type="tns:ErrorMessageTextType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="errorLocation" type="tns:ErrorLocationType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessageHeaderType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="secureContentFlag" type="xsd:boolean">
            		</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="messageType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
								<xsd:whiteSpace value="collapse"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="responseMode" type="tns:ResponseModeType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="messageId" type="tns:MessageIdType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="correlationId" type="tns:MessageIdType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ResponseModeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Synchronous"/>
					<xsd:enumeration value="Asynchronous"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MessageIdType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
					<xsd:whiteSpace value="collapse"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequest_faultMsg">
    <wsdl:part element="tns:messageFault" name="messageFault"/>
  </wsdl:message>
  <wsdl:message name="ProcessRequestResponse">
    <wsdl:part element="tns:MessageHeader" name="messageHeader"/>
    <wsdl:part element="tns:ResponseBody" name="responseBody"/>
  </wsdl:message>
  <wsdl:message name="ProcessRequestRequest">
    <wsdl:part element="tns:MessageHeader" name="messageHeader"/>
    <wsdl:part element="tns:RequestBody" name="requestDocument"/>
  </wsdl:message>
  <wsdl:portType name="WebICGateway">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input message="tns:ProcessRequestRequest"/>
      <wsdl:output message="tns:ProcessRequestResponse"/>
      <wsdl:fault message="tns:ProcessRequest_faultMsg" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountAcquisitionPortal" type="tns:WebICGateway">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://www.ctc.ctfs.com/WebICGateway/ProcessRequest"/>
      <wsdl:input>
        <soap:header message="tns:ProcessRequestRequest" part="messageHeader" use="literal">
        </soap:header>
        <soap:body parts="requestDocument" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ProcessRequestResponse" part="messageHeader" use="literal">
        </soap:header>
        <soap:body parts="responseBody" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebICGateway">
    <wsdl:port binding="tns:AccountAcquisitionPortal" name="AccountAcquisitionPortal">
      <soap:address location="http://172.23.38.12:80/WebICGateway/services/AccountAcquisitionPortal"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>