WICIMiddlewareBroker2/xsd/AccountApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision History
2013-09-11	v1.11	Werner Tanzo
	US2292 - BMT Updates 	- insuranceCode Added/Removed
							- removed roadsideOnRequest references			 
2013-09-23	v1.12	Jason LoStracco
	Gateway Fix - Merged WICI/BRB into v1.11
						- AccountApplicationRequestType - added TUSessionID, TUExamResult, emailConsentFlag
						- AccountApplicationResponseType - added acctReferenceType
						- Added simpleType acctReferenceType
						- Updated channelIndicator (WP and IP)
2013-09-23	v1.13	Jason LoStracco
						- Updated idType and idNumber as mandatory if channelIndicator is IC, else optional	
2013-09-24	v1.14	Jason LoStracco
						- Corrected channelIndicatorEnum for incorrect structure	
2013-09-24	v1.15	Jason LoStracco
						- Updated documentation on each element and verified merge logic
-->
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          elementFormDefault="qualified"
          xmlns:tns="http://www.channel.ctfs.ctc.com/accountAcquisition/"
          targetNamespace="http://www.channel.ctfs.ctc.com/accountAcquisition/">
	
	<xsd:complexType name="AccountApplicationRequestType">
		<xsd:sequence maxOccurs="1" minOccurs="1">

			<xsd:element name="externalReferenceId" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This element represents the reference identifier
						of the source system. The identifier uniquely
						represents each account application
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="storeNumber" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value describes the CTC outlet
						number assigned to the location where the
						account application information was collected.
						
						storeNumber=0500 for channelIndicator=WP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger">
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="agentId" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value describes the user id
						security credential assigned to the agent that
						has submitted the account application.
						
						agentId=MQSYS for channelIndicator=WP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="channelIndicator" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value describes the channel that
						was utilized to gather the applicant data. 
						IC - denotes ENDO assisted channel
						WP - Web Postal - denotes customer applying online or BRB
						IP - denotes assisted channel - application is done through FMR
						DP - Auto Service Reps
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="IC"></xsd:enumeration>
						<xsd:enumeration value="WP"></xsd:enumeration>
						<xsd:enumeration value="IP"></xsd:enumeration>
						<xsd:enumeration value="DP"></xsd:enumeration>
						<xsd:length value="2"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="agencyPromoCode" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Represents the agency promotion code. Example
						E0000
						
						This is the PROMO code on most applications.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:length value="5"></xsd:length>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="acquistionStrategyCode" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Determined by the agency that the FMR belongs
						to. Valid value 0A5577, 0K5577, 0J5577, 0C5577, 0H5577, 0F5577
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="requestedProductType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value determines the type of
						Canadian Tire credit card product that the
						customer is applying for.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!--added for CTC loyalty project 02/07/2011 MJB -->
			<xsd:element name="loyaltyMembershipNumber" nillable="true">
				<xsd:annotation>
					<xsd:documentation>
						This attribute should contain the loyalty 
						membership number associated with the applicant.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:NumericStringType">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>	
			</xsd:element>
			
			<xsd:element name="firstName" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Represents the first name of the primary
						applicant
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>

			</xsd:element>
			<xsd:element name="lastName" minOccurs="1" maxOccurs="1">				
				<xsd:annotation>
					<xsd:documentation>
						Represents the last name of the primary
						applicant
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="middleInitial" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Represents the initial of the middle name of the
						primary applicant
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="dateOfBirth" type="xsd:date" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants date of birth and must be confirmed
						via another form of personal identification.
						Note: xsd:date attribute format is "YYYY-MM-DD"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="sin" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants canadian government assigned social
						insurance number.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:NumericStringType">
						<xsd:maxLength value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>


			<xsd:element name="idType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the first two characters of valid id
						types -

						BI - Birth Certificate, HE - Health Card, PA -
						Passport, RE - Record of Landing, PR - Permanent
						Resident Card, IN - Indian Status Card, CI -
						Citizenship Card, BC - Insurance Corp. of BC
						Identification, AB - Alberta Registries
						Identification, SK - Saskatchewan Goverment
						Insurance Identification, NS - Nova Scotia and
						Municipal Relations Identification, PE - DoT and
						PW for the Province of Prince Edward Island, NB
						- Service New Brunswick, NL - Department of
						Government Services and Lands of the Province of
						Newfoundland and Labrador, NT - DoT of the
						Northwest Territories, NU - Dept. of Community
						Government and Transportation of the Territory
						of Nanavut, OT- Other, ON - Ontario Photo ID
						
						Required if channelIndicator equals IC or IP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="BI"></xsd:enumeration>
						<xsd:enumeration value="DR"></xsd:enumeration>
						<xsd:enumeration value="HE"></xsd:enumeration>
						<xsd:enumeration value="PA"></xsd:enumeration>
						<xsd:enumeration value="RE"></xsd:enumeration>
						<xsd:enumeration value="PR"></xsd:enumeration>
						<xsd:enumeration value="IN"></xsd:enumeration>
						<xsd:enumeration value="CI"></xsd:enumeration>
						<xsd:enumeration value="BC"></xsd:enumeration>
						<xsd:enumeration value="AB"></xsd:enumeration>
						<xsd:enumeration value="SK"></xsd:enumeration>
						<xsd:enumeration value="NS"></xsd:enumeration>
						<xsd:enumeration value="PE"></xsd:enumeration>
						<xsd:enumeration value="NB"></xsd:enumeration>
						<xsd:enumeration value="NL"></xsd:enumeration>
						<xsd:enumeration value="NT"></xsd:enumeration>
						<xsd:enumeration value="NU"></xsd:enumeration>
						<xsd:enumeration value="OT"></xsd:enumeration>
						<xsd:enumeration value="ON"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="idNumber" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Required if channelIndicator equals IC or IP
						
						Not required for channelIndicator=WP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="placeOfIssue" maxOccurs="1" minOccurs="1" type="tns:PlaceOfIssueType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="preferedLanguage" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="E|F" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="applicantGender" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants sexual identity.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="M|F" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>


			<xsd:element name="currentAddressType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This elements described the address type - Rent,
						Own, Parents or Misc
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="R"></xsd:enumeration>
						<xsd:enumeration value="O"></xsd:enumeration>
						<xsd:enumeration value="P"></xsd:enumeration>
						<xsd:enumeration value="M"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentAddressLine1" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the street
						location information associated with the primary
						applicants current home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentAddressLine2" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the secondary
						street location information associated with the
						primary applicants current home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentCity" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						city name associated with the primary applicants
						current home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentProvince" type="tns:ProvinceType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						province the primary applicants current home
						mailing address is located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="currentPostalCode" maxOccurs="1" minOccurs="1" type="tns:PostalCodeType">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						postal code assigned to the primary applicants
						current home mailing address.
					</xsd:documentation>
				</xsd:annotation>
            </xsd:element>

			<xsd:element name="currentCountry" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the country that
						the primary applicants current mailing address
						is located within.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CA"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentTelephoneNumber" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants current telephone number on the
						wireline network.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="currentCellPhoneNumber" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants current telephone number on the
						mobile cellular network.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:NumericStringType">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="yearsAtCurrentAddress" type="tns:YearsType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the number of
						whole years that the primary applicant has
						resided at the current mailing address.If not
						available this should be passed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="monthsAtCurrentAddress" type="tns:MonthsType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the number of
						months, within a whole year, that the primary
						applicant has resided at the current mailing
						address. If not available this should be passed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="currentEmailAddress" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the primary
						applicants unique identifier, of the form
						userName@domainName, specifying a virtual
						location to which e-mail can be sent
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="60" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="previousAddressLine1" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the street
						location information associated with the primary
						applicants previous home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="previousAddressLine2" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the secondary
						street location information associated with the
						primary applicants previous home mailing
						address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="previousCity" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the city name
						associated with the primary applicants previous
						home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="previousProvinceState"	type="tns:ProvinceStateType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the
						province/state the primary applicants previous
						home mailing address was located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="previousPostalCode" maxOccurs="1" minOccurs="0" type="tns:PostalCodeType">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						postal code assigned to the primary applicants
						previous home mailing address.
					</xsd:documentation>
				</xsd:annotation>
				
			</xsd:element>

			<xsd:element name="previousCountry" type="tns:CountryType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the country that
						the primary applicants previous mailing address
						was located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>



			<xsd:element name="employementStatus" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="1" />
						<xsd:enumeration value="F"></xsd:enumeration>
						<xsd:enumeration value="P"></xsd:enumeration>
						<xsd:enumeration value="S"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="jobTitle" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="employementCategory" maxOccurs="1"	minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="DR"></xsd:enumeration>
						<xsd:enumeration value="FA"></xsd:enumeration>
						<xsd:enumeration value="GU"></xsd:enumeration>
						<xsd:enumeration value="HO"></xsd:enumeration>
						<xsd:enumeration value="LA"></xsd:enumeration>
						<xsd:enumeration value="MA"></xsd:enumeration>
						<xsd:enumeration value="MI"></xsd:enumeration>
						<xsd:enumeration value="OF"></xsd:enumeration>
						<xsd:enumeration value="OW"></xsd:enumeration>
						<xsd:enumeration value="PR"></xsd:enumeration>
						<xsd:enumeration value="RE"></xsd:enumeration>
						<xsd:enumeration value="RT"></xsd:enumeration>
						<xsd:enumeration value="SA"></xsd:enumeration>
						<xsd:enumeration value="SE"></xsd:enumeration>
						<xsd:enumeration value="ST"></xsd:enumeration>
						<xsd:enumeration value="TR"></xsd:enumeration>
						<xsd:enumeration value="UN"></xsd:enumeration>
						<xsd:enumeration value="OT"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="employerName" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the corporate
						name associated with the primary applicants
						employer.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="36" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="employerCity" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the city name
						associated with the primary applicants employer.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="employerProvince" type="tns:ProvinceStateType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the
						province/state that the primary applicants
						employer conducts business.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="employerCountry" type="tns:CountryType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value describes the country
						jouristiction the employer is located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="employerTelephoneNumber" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the business
						telephone number assigned to the primary
						applicants employer.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:NumericStringType">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="yearsAtEmployement" type="tns:YearsType"	maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the number of
						whole years that the primary applicant has been
						employed by the employer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="monthsAtEmployement"	type="tns:MonthsType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the number of
						months, within a whole year, that the primary
						applicant has been employed by the employer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="grossAnnualIncome" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger">
						<xsd:maxInclusive value="999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="monthlyRentMortgageAmount" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger">
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="bankCardFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="bankLoanFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="chequingAccountFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="savingsAccountFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="storeCardFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="gasCardFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="supp1FirstName" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the first name
						associated with the first supplimental card
						holder. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="supp1LastName" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the first name
						associated with the first supplimental card
						holder. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="supp1MiddleInitial" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Represents the initial of the middle name of the
						supplimental applicant
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<xsd:element name="supp1Relationship" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This element describes the relationship type of
						the supp applicant - Common Law Husband, Common
						Law Wife, Daughter, Father, Husband, Mother,
						Significant Other, Son, Spouse, Wife, Other,
						Legal Guardian, Relative
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="CLH"></xsd:enumeration>
						<xsd:enumeration value="CLW"></xsd:enumeration>
						<xsd:enumeration value="DAUG"></xsd:enumeration>
						<xsd:enumeration value="FATH"></xsd:enumeration>
						<xsd:enumeration value="HUSB"></xsd:enumeration>
						<xsd:enumeration value="MOTH"></xsd:enumeration>
						<xsd:enumeration value="SIGN"></xsd:enumeration>
						<xsd:enumeration value="SON"></xsd:enumeration>
						<xsd:enumeration value="SPOU"></xsd:enumeration>
						<xsd:enumeration value="WIFE"></xsd:enumeration>
						<xsd:enumeration value="OTHE"></xsd:enumeration>
						<xsd:enumeration value="LEGA"></xsd:enumeration>
						<xsd:enumeration value="ROOM"></xsd:enumeration>
						<xsd:enumeration value="RELA"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="supp1DateOfBirth" type="xsd:date" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the first
						supplimental card holders date of birth and must
						be confirmed via another form of personal
						identification. Note: xsd:date attribute format
						is "YYYY-MM-DD"
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="supp1AddrSameAsPrimary" type="tns:FlagType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="supp1AddressLine1" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the street
						location information associated with the first
						supplimental card holders current home mailing
						address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="supp1AddressLine2" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the secondary
						street location information associated with the
						first supplimental card holders current home
						mailing address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="supp1City" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the city name
						the first supplimental card holders current home
						mailing address is located within.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="24" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="supp1Province" type="tns:ProvinceStateType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						province the first supplimental card holders
						current home mailing address is located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="supp1PostalCode"	 maxOccurs="1" minOccurs="0" type="tns:PostalCodeType">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the canadian
						postal code assigned to the first supplimental
						card holders current home mailing address
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="supp1Country" type="tns:CountryType"	maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the country that
						the first supplimental card holders current
						mailing address is located within.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="supp1TelephoneNumber" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This attribute value identifies the first
						supplimental card holders current telephone
						number, cellular or wireline based.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:NumericStringType">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>



			<xsd:element name="agreedToTermsFlag" type="tns:FlagType"	maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="applicantSignature" type="xsd:base64Binary" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="signatureFlag" type="tns:FlagType"	maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="signatureMatchFlag" type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="dateSigned" type="xsd:date" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="insuranceAgreedFlag" type="tns:FlagType"	maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>default value should be N</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="insuranceCode" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Acceptable Insurance Codes
						CP = Credit Protector
						IL = Identity Watch Classic (monthly payment)
						IW = Identity Watch (deprecated flavour of Identity Watch)
						W3 = Protection Plan
						W4 = Protection Advantage (package of CP and IL)
						N = None (implicitly mapped if insuranceCode is not passed)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="CP"></xsd:enumeration>
						<xsd:enumeration value="IL"></xsd:enumeration>
						<xsd:enumeration value="IW"></xsd:enumeration>
						<xsd:enumeration value="W3"></xsd:enumeration>
						<xsd:enumeration value="W4"></xsd:enumeration>
						<xsd:enumeration value="N"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="insuranceSignatureFlag" type="tns:FlagType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="insuranceDateSigned" type="xsd:date" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="insuranceSignature" type="xsd:base64Binary" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="affiliationCode" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Required for GoPlayCards - Generic(00), OMHA(1A)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="00"></xsd:enumeration>
						<xsd:enumeration value="1A"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="acquirerCode" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Required for GoPlayCards - Generic, OMHA</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="2" />					
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<xsd:element name="TUSessionID" maxOccurs="1"	minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional field, required if channel is WP
					Identifier of the TU examination the customer has completed.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="20" />					
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<xsd:element name="TUExamResult" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional field, required if channel is WP
					Describes the result of te TU Examination process.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="1" />					
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			
			
			<xsd:element name="emailConsentFlag" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional field, required if channel is WP
					Describes whether the customer has consented to email marketing</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="1" />					
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="PostalCodeType">
		<xsd:annotation>
			<xsd:documentation>
				This type represents the standard pattern as to how
				canadian postal code values are to be represented.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">

			<xsd:pattern
				value="[A-Z][0-9][A-Z][0-9][A-Z][0-9]">
			</xsd:pattern>
			<xsd:length value="6"></xsd:length>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CountryType">
		<xsd:annotation>
			<xsd:documentation>
				This type represents the list of valid country codes 
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="OT">
				<xsd:annotation>
					<xsd:documentation>
						Exception abbreviation for any 
						country code lying outside the 
						north american continent.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>	
	</xsd:simpleType>	
	
	<xsd:simpleType name="ProvinceType">
		<xsd:annotation>
			<xsd:documentation>
				This type represents the list of valid province abbreviations within Canada 
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="tns:ProvinceStateType">
			<xsd:enumeration value="AB">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Alberta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BC">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for British Columbia
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MB">		
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Manitoba
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NB">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for New Brunswick
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NL">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Newfoundland and Labrador
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NT">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for the Northwest Territories
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NS">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Nova Scotia
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NU">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Nunavet
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ON">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Ontario
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PE">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Prince Edward Island
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="QC">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Quebec
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SK">				
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Saskatchewan
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="YT">		
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for the Yukon territory
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>	
	</xsd:simpleType>	
	
	<xsd:simpleType name="PlaceOfIssueType">
		<xsd:annotation>
			<xsd:documentation>
				This type represents the list of valid province abbreviations within Canada along with Canada and Other
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="tns:ProvinceStateType">
			<xsd:enumeration value="AB">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Alberta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BC">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for British Columbia
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MB">		
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Manitoba
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NB">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for New Brunswick
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NL">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Newfoundland and Labrador
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NT">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for the Northwest Territories
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NS">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Nova Scotia
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NU">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Nunavet
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ON">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Ontario
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PE">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Prince Edward Island
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="QC">
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Quebec
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SK">				
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for Saskatchewan
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="YT">		
				<xsd:annotation>
					<xsd:documentation>
						Provincial abbreviation for the Yukon territory
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CA">		
				<xsd:annotation>
					<xsd:documentation>
						Country abbreviation for Canada
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OT">		
				<xsd:annotation>
					<xsd:documentation>
						Other
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>	
	</xsd:simpleType>	

	<xsd:simpleType name="ProvinceStateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AB"/>
			<xsd:enumeration value="BC"/>
			<xsd:enumeration value="MB"/>	
			<xsd:enumeration value="NB"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="NS"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="QC"/>
			<xsd:enumeration value="SK"/>	
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="FL"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="HI"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="ME"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NV"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="NJ"/>
			<xsd:enumeration value="NM"/>
			<xsd:enumeration value="NY"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="OH"/>
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="OR"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="RI"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="UT"/>
			<xsd:enumeration value="VT"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="WV"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="WY"/>
			<xsd:enumeration value="OT">
				<xsd:annotation>
					<xsd:documentation>
						Exception abbreviation for any 
						provincial or state jurisdication 
						lying outside the north american continent.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="MonthsType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="11" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="YearsType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="FlagType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="Y|N"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="NumericStringType">
		<xsd:annotation>
			<xsd:documentation>
				This type represents the standard pattern 
				used to describe an endpoint on the voice network
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="([0-9])*"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="UpperCaseStringType">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="([A-Z0-9,_'-.~@\[\]\}\{\)\( ]*)" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="AccountApplicationResponseType">
		<xsd:sequence>
			<xsd:element name="accountNumber" maxOccurs="1"	minOccurs="0" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation>
						Symmetrically encrpyted card number.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="accountReference"
				type="tns:acctReferenceType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						denotes Reference number for the account
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="expiryDate" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the month and year of expiration.
						Fomat MMYY
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="creditLimit" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the current credit limit
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="apr" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the APR on the account
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Begin changes for New Terms 2012 - werta - 12.20.2011 -->
			<xsd:element name="cashAPR" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Represents the Cash APR on the account
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- End changes for New Terms 2012 - werta - 12.20.2011 -->

			<xsd:element name="appStatus" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Represents the adjudication status of the
						application.
						VALUES.
						APPROVED = an approved application, PAN/reference should be printed.
						PENDING = an application that could not be approved (error state, 
						system error, partial approval)  Customer receives message that they will be contacted in the mail.
						DECLINED = Application declined, customer should receive message that they will be contacted via mail.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:UpperCaseStringType">
						<xsd:enumeration value="APPROVED"></xsd:enumeration>
						<xsd:enumeration value="PENDING"></xsd:enumeration>
						<xsd:enumeration value="DECLINED"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="customerValueInd" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Retrieved from the CDF16 attribute of the TS2
						platform. This indicator will allow the in-store
						acquisition event to uniquely differentiate the
						offers supplied to a specific customer
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="([A-Z0-9])" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:element name="AccountApplicationResponse" type="tns:AccountApplicationResponseType"></xsd:element>
    <xsd:element name="AccountApplicationRequest" type="tns:AccountApplicationRequestType"></xsd:element>
    
    <xsd:simpleType name="acctReferenceType">
        <xsd:annotation>
        	<xsd:documentation>Reference Number - alternative PCI compliant to a Credit Card Number</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
    		<xsd:minLength value="0"></xsd:minLength>
    		<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
    		<xsd:maxLength value="10"></xsd:maxLength>
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>