WICIMiddlewareBroker2/xsd/SharedServiceEngine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <xsd:schema targetNamespace="http://www.sas.com/xml/schema/sas-svcs/rtdm-1.1/wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="xs" xmlns:tns="http://www.sas.com/xml/schema/sas-svcs/rtdm-1.1/wsdl" 
	elementFormDefault="unqualified" attributeFormDefault="unqualified"> -->
<!-- <schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" targetNamespace="http://www.sas.com/xml/schema/sas-svcs/rtdm-1.1" 
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:rdm="http://www.sas.com/xml/schema/sas-svcs/rtdm-1.1"> -->

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
	xmlns:tns="http://web.sharedservices.ctfs.com/SharedWebServices/"
	targetNamespace="http://web.sharedservices.ctfs.com/SharedWebServices/"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<annotation>
		<documentation>
			XSD Definition For Shared Services SAOP API Requests.
		</documentation>
	</annotation>

	<element name="processRequest">
		<complexType>
			<sequence>
				<element name="in" type="tns:ServiceRequest" />
			</sequence>
		</complexType>
	</element>
	<element name="processRequestResponse">
		<complexType>
			<sequence>
				<element name="out" type="tns:ServiceResponse" />
			</sequence>
		</complexType>
	</element>

	<complexType name="ServiceRequest">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="operatorId" type="string">
			</element>
			<element maxOccurs="1" minOccurs="1" name="serviceName" type="string">
			</element>
			<element maxOccurs="1" minOccurs="1" name="methodName" type="string">
			</element>
			<element maxOccurs="1" minOccurs="0" name="serviceArgument1"
				type="string">
			</element>
			<element maxOccurs="1" minOccurs="0" name="serviceArgument2"
				type="string">
			</element>
			<element maxOccurs="1" minOccurs="0" name="serviceArgument3"
				type="string">
			</element>
			<element maxOccurs="1" minOccurs="0" name="serviceArgument4"
				type="string" />
		</sequence>
	</complexType>

	<complexType name="ServiceResponse">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="passFail">
				<simpleType>
					<restriction base="string">
						<enumeration value="P" />
						<enumeration value="F" />
					</restriction>
				</simpleType>
			</element>
			<element maxOccurs="1" minOccurs="0" name="resultMessage"
				type="string" />
			<element maxOccurs="1" minOccurs="0" name="responseArgument1"
				type="string" />
			<element maxOccurs="1" minOccurs="0" name="responseArgument2"
				type="string" />
		</sequence>
	</complexType>
</schema>