BRB_Documentation/tags/03_18_2014_BRB_Redesign/BRBMiddlewareBroker/xsd/WebICIdentityExamination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.channel.ctfs.ctc.com/WebICIdentityExamination" 
	xmlns:icav="http://www.channel.ctfs.ctc.com/WebICIdentityExamination" 
	elementFormDefault="qualified" xmlns:Q1="http://www.channel.ctfs.ctc.com">

	<import schemaLocation="WebICCommonTypes.xsd" namespace="http://www.channel.ctfs.ctc.com" />

    <complexType name="WebICIdentityExamResponse">
    	<sequence>
    		<element name="identityExam"
    			type="icav:IdentityExam" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Identity Exam contains the questions and possible answers
    					to allow a customer to validate their identity.  An exam can
    					contain between 3 and 5 questions with the possibility of a 
    					single 4th question to be presented after a 3 question exam
    					has been scored. 
    				</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="WebICIdentityExamRequest">
    	<sequence>
    		<element name="channel" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Indicates the channel where request is coming from.
    					Should be set to "WEBIC" for BRB instant credit project.
    				</documentation>
    			</annotation>
    			<simpleType>
    				<restriction base="string">
    					<minLength value="2"></minLength>
    					<maxLength value="20"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="language" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Indicates the language to retrieve the exam in.  Allowed Values;
    					English = en
    					French = fr
    					i.e, language=fr to retrieve a French exam.
    				</documentation>
    			</annotation>
    			<simpleType>
    				<restriction base="string">
    					<minLength value="2"></minLength>
    					<maxLength value="20"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="firstName" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<maxLength value="50"></maxLength>
    					<minLength value="0"></minLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="middleName" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<maxLength value="50"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="lastName" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<maxLength value="50"></maxLength>
    					<minLength value="0"></minLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="driversLicense" minOccurs="0"
    			maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="20"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="driversLicenseExpirationDate" minOccurs="0"
    			maxOccurs="1" type="date">

    		</element>
    		<element name="phoneNumber" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="10"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="dateOfBirth" type="date" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="address" type="icav:Address"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Address">
    	<sequence>
    		<element name="addressLine1" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>
    					AddressLine1 is the street number and street name
    					that an applicant has submitted.
    				</documentation>
    			</annotation>
    			<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="50"></maxLength>
    				</restriction>
    			</simpleType>
   			</element>
    		<element name="addressLine2" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					AddressLine2 is extended address details such
    					as unit number, RR #.
    				</documentation>
    			</annotation>
    		    <simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="50"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="addressLine3" maxOccurs="1" minOccurs="0">
    		    <simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="50"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="city" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>
    					City of address submitted
    				</documentation>
    			</annotation>
    		 	<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="30"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="province" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>
    					Province of address submitted
    				</documentation>
    			</annotation>
    		 	<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="3"></maxLength>
    				</restriction>
    			</simpleType>
   			</element>
    		<element name="postalCode" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>
    					Postal code of address being submitted.  Requires
    					the following pattern A#A#A# i.e. L2J4H4.
    				</documentation>
    			</annotation>
    		 	<simpleType>
    				<restriction base="string">
    					<minLength value="0"></minLength>
    					<maxLength value="6"></maxLength>
    				</restriction>
    			</simpleType>
   			</element>
    	</sequence>
    </complexType>
    

    <complexType name="IdentityExam">
    	<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
			</element>
    		<element name="sessionId" type="string" minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="externalId" type="string" minOccurs="0" maxOccurs="1">
    		</element>
            <element name="channel" type="string" maxOccurs="1" minOccurs="1">
            	<annotation>
    				<documentation>
    					Indicates the channel where request is coming from.
    					Should be set to "WEBIC" for BRB instant credit project.
    				</documentation>
    			</annotation>
            </element>
            <element name="transactionId" type="string" minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="score" type="decimal" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Numerical value representing number of questions the applicant
    					got correct on the exam.  Should not be disclosed to the applicant.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="result" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Possible values:
    					"un-scored" - indicates an un scored exam, ready for answering
    					or scoring.
    					"scored" - indicates a scored exam, see result for evaluation.  					
    				</documentation>
    			</annotation>
    		</element>
    		<element name="decision" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					"FAILURE" - Failed the exam.
    					"PASSED" - Passed the exam.
    					"FAILED 4TH QUESTION" - 4th question presented.
    					"PASSED 4TH QUESTION" - Passed the 4th question and exam. 					
    				</documentation>
    			</annotation>
    		</element>		  
    		<element name="state" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Possible values:
    					"un-scored" - indicates an un scored exam, ready for answering
    					or scoring.
    					"scored" - indicates a scored exam, see result for evaluation.
    					"completed" - indicates a finished state
    				</documentation>
    			</annotation>
    		</element>
    		<element name="error" type="string" minOccurs="0" maxOccurs="unbounded">
    			<annotation>
    				<documentation>
    					Possible values:
    					"Service called wth invalid channel argument" - indicates invalid request 
    					parameters were used.
    					
    				</documentation>
    			</annotation>
    		</element>
    		<element name="alerts" type="string" minOccurs="0" maxOccurs="unbounded">
    		</element>
    		<element name="reports" type="string" minOccurs="0" maxOccurs="unbounded">
    		</element>
    		<element name="earnPoints" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Points earned on this exam.  Irrelevant to BRB.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="possiblePoints" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Points that could have been earned on this exam.  Irrelevant to BRB.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="questions" type="icav:Question" minOccurs="0" maxOccurs="5">
    			<annotation>
    				<documentation>
    					Exam questions to be presented and answered.  Could return from 3 to 5
    					questions for a single identity exam request.
    					
    					Could return a single additional question for a score identity exam
    					request.
   						
   						Questions should be presented to user one at a time and only submitted
   						for scoring once all questions have been answered.  The time to answer 
   						each question must be submitted as well. 
    				</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="Question">
    	<sequence>
    		<element name="id" minOccurs="1" maxOccurs="1" type="string">
    			<annotation>
    				<documentation>
    					This is the sub-system identified associated with this
    					question on this applicant's identity profile.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="text" minOccurs="1" maxOccurs="1" type="string">
    			<annotation>
    				<documentation>
    					This is the question text itself
    				</documentation>
    			</annotation>
    		</element>
    		<element name="answerId" minOccurs="0" maxOccurs="1" type="string">
    			<annotation>
    				<documentation>
    					This is the ID of the answer the customer has selected for
    					this question when presented.  This element has a minOccurs="1"
    					when being submitted for scoring.  The answerID must exist in the
    					List of answers being submitted for scoring.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="state" minOccurs="0" maxOccurs="1" type="string">
    			<annotation>
    				<documentation>
    					Possible values:
    					"un-scored" - indicates a question has not been scored. The
    					value that should be returned from retrieve identity exam call
    					and a score request that results in a 4th question.
    					"scored" - indicates a question has been scored.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="maxTimeToAnswer" minOccurs="1" maxOccurs="1" type="int">
    			<annotation>
    				<documentation>
    					This is the maximum time for an applicant to answer the given question.
    					The business elects to enforce this rule or not on presentation.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="timeToAnswer" type="int" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					This is the length of time in seconds it took an applicant to answer
    					the given question.  It is required for a scoring submission.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="possibleAnswers" minOccurs="1" maxOccurs="5" type="icav:Answer">
    			<annotation>
    				<documentation>
    					List of possible answers for the question in the TEXT element.
    					The answer the applicant selects out of this list must be sent back 
    					in as the answer for the corresponding question (by ID).
    				</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="WebICScoreIdentityExamRequest">
    	<sequence>
    		<element name="identityExam" type="icav:IdentityExam" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="WebICScoreIdentityExamResponse">
    	<sequence>
    		<element name="identityExam" type="icav:IdentityExam"
    			minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="result" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="Answer">
    	<sequence>
    		<element name="text" type="string" maxOccurs="1" minOccurs="1">
	  			<annotation>
	  				<documentation>
	  					The answer text for this possible answer.
	  				</documentation>
	  			</annotation>
   			</element>
    		<element name="id" type="icav:idType" maxOccurs="1" minOccurs="1">
    			<annotation>
	  				<documentation>
	  					The corresponding ID for this answer.  This value must be
	  					passed in the answerID element of the question on scoring.
	  					It should correspond to the answer the applicant selected.
	  				</documentation>
	  			</annotation>
  			</element>
    	</sequence>
    </complexType>

    <simpleType name="idType">
    	<restriction base="icav:integer"></restriction>
    </simpleType>

    <simpleType name="integer">
    	<restriction base="int"></restriction>
    </simpleType>

</schema>